  @font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf'); /* IE 9 Compatibility Mode */
    src: url('../fonts/Montserrat-SemiBold.ttf') format('embedded-opentype'), /* IE < 9 */
      url('../fonts/Montserrat-Regular.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/Montserrat-Regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
      url('../fonts/Montserrat-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/Montserrat-Regular.svg#sfns_display') format('svg'); /* Chrome < 4, Legacy iOS */
  }

#root {
  text-align: center;
  max-width: 1920px;
  margin: 0 auto;
}

.app {
  padding: 20px;
  background-color: #f5f5f5;
  min-height: 100vh;
  margin-bottom: 0;
}

.user_container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}